# .gitignore for .NET
[Bb]in/
[Oo]bj/
.vs/
.vscode/
*.user
*.suo
*.userosscache
*.sln.docstates

# Ignore Gateway project as requested
src/Auth.Gateway/

# Ignore local settings
appsettings.Development.json
src/Auth.Api/appsettings.Development.json
src/Auth.Gateway/appsettings.Development.json

# User secrets
secrets.json

# OS files
.DS_Store
Thumbs.db
